<div class="container ">
    <div class="row">
        <h1>Edit Contacts</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rerum quae
            totam neque explicabo sint illum nulla, earum cupiditate repellendus, iste sapiente magni nihil dignissimos,
            exercitationem minus at odit ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, pariatur
            tenetur error eos corrupti quae mollitia ullam. Quasi quis deleniti tenetur. Sapiente reiciendis tenetur
            nulla temporibus magni eius doloribus sunt.
            Rerum atque eligendi molestiae, esse incidunt ad nesciunt. Quidem, minima, accusantium fuga iste enim ab
            illo asperiores atque sapiente minus quia natus reprehenderit laboriosam? Iure hic repellat asperiores
            laborum eveniet!
            Porro eum tempora facere sequi? Voluptatibus aliquid sit saepe consectetur quisquam excepturi, assumenda
            perferendis tempore, vel a quaerat vero fugiat ducimus sequi reprehenderit. Totam facilis optio velit sed,
            animi unde?
            Aspernatur magnam alias molestiae nobis laboriosam nihil culpa voluptatem molestias adipisci ipsa architecto
            laudantium id soluta deleniti impedit, qui similique animi fugiat dignissimos ipsam iusto. Doloremque
            perspiciatis amet ad sunt?
            Inventore ut magnam, laborum quia vel accusamus tempore optio commodi laboriosam culpa labore possimus
            quibusdam, totam ipsum explicabo nisi? Autem ea obcaecati facilis dolorum ipsum aperiam qui quibusdam, iste
            velit?</p>
    </div>

</div>

<!-- <pre>{{contactDetails |json}} </pre> -->
<div class="container mt-5">
   <form #validateEditButton="ngForm">
        <div class="row border p-2">
            <div class="col-md-8">
                <input name="id" #id="ngModel" [(ngModel)]="contactDetails.id" [value]="contactDetails.id" placeholder="ID" class="form-control" type="text"required>
                <div class="text-danger" *ngIf="id.invalid&&id.touched">Invalid ID</div>

                <input name="name" #name="ngModel" [(ngModel)]="contactDetails.name" [value]="contactDetails.name" placeholder="Name" class="form-control mt-2" type="text" required>
                <div *ngIf="name.invalid&&name.touched" class="text-danger">Invalid Name</div>

                <input name="photo" #photo="ngModel" [(ngModel)]="contactDetails.photo" [value]="contactDetails.photo" placeholder="Photo" class="form-control mt-2" type="text" required>
                <div class="text-danger" *ngIf="photo.invalid&&photo.touched">Invalid URL</div>

                <input class="form-control mt-2" maxlength="11" minlength="10" #mobile="ngModel" name="mobile" type="text" placeholder="enter number" [(ngModel)]="contactDetails.mobile" [value]="contactDetails.mobile" required>
                <div *ngIf="mobile.invalid&&mobile.touched"  class="text-danger">Invalid Number</div>

                <input email name="email" #email="ngModel" [(ngModel)]="contactDetails.email" [value]="contactDetails.email" placeholder="Email" class="form-control mt-2" type="text" required>
                <div class="text-danger" *ngIf="email.invalid&&email.touched">Invalid Email</div>

                <input name="company" #company="ngModel" [(ngModel)]="contactDetails.company" [value]="contactDetails.company" placeholder="Company" class="form-control mt-2" type="text" required>
                <div *ngIf="company.invalid&&company.touched" class="text-danger">Invalid Company</div>

                <input name="title" #title="ngModel" [(ngModel)]="contactDetails.title" [value]="contactDetails.title" placeholder="Title" class="form-control mt-2" type="text" required>
                <div *ngIf="title.invalid&&title.touched" class="text-danger">Invalid Title</div>

                <select [(ngModel)]="groupDetails.groupId"  class="form-control" name="group" id="">
                    <option hidden selected disabled value="">Choose A Group</option>
                    <option *ngFor="let group of groupDetails" [value]="group.Id">{{group.name}} </option>
                    
                </select>
            </div>
            <div class="col-md-4">
                <img class="contact_image mt-4"
                    [src]="contactDetails.photo"
                    alt="contact">
            </div>
        </div>
   </form>
</div>
<div class="container text-center">
    <div class="row">
        <form action="">
            <input (click)="editContact(contactDetails)" [disabled]="validateEditButton.invalid" value="Edit" class="btn btn-success" type="button">
            <a class="btn btn-danger ms-2" routerLink="">Exit</a>
        </form>
    </div>
</div>